* {
    font-family: 'Kumbh Sans', sans-serif;
}

.main-img {
    max-width: 400px;
}

.text-start {
    color: #FF7D1A;
    font-weight: 700;
    font-size: small;
}

.display-5 {
    font-weight: 700;
}

.descrp {
    color: #B6BCC8;
}

.list-inline-item {
    font-weight: 700;
    font-size: medium;
}

.original-price {
    color: #B6BCC8;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    background-color: #FF7D1A;
    color: #fff;
    width: 230px;
    display: flex;
    font-weight: 700;
}

.btn:hover {
    color: #000;
    background-color: #FFEDE0;
}

.card-title {
    font-weight: 400;
    font-size: smaller;
}

.card-title a {
    text-decoration: none;
}

.card-text {
    font-weight: 400;
    font-size: smaller;
}

.card-text a {
    text-decoration: none;
}
