* {
    font-family: 'Kumbh Sans', sans-serif;
}

.main-img {
    max-width: 400px;
}

.text-start {
    color: #FF7D1A;
    font-weight: 700;
}

.display-5 {
    font-weight: 700;
}

.descrp {
    color: #B6BCC8;
}

.btn {
    background-color: #FF7D1A;
    color: #fff;
    width: 230px;
    display: flex;
}

.btn:hover {
    color: #000;
    background-color: #FFEDE0;
}
